
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.banner{
    background-image: url(banner.png);
    width: 80%;
    height: 500px;
    background-position: center;
    background-size: cover;
    border-radius: 10px;
}
.list__li {
    width: 80%;
    height: auto;
    display: flex;
    flex-direction: row;
    gap:5px;
}

.list__el {
    position: relative;

}

.list__el img {
    width: auto;
    height: 250px;
    border-radius: 5px;

}


.cover-grid {
    width: 80%;
    display: grid;
    grid-template-columns: repeat(6, 1fr); 
    gap: 10px; 
  }
  
  .cover {
    color: black;
    position: relative;
    width: 250px;
    height: 250px;
  }
  
  .cover img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;        
    transition: transform 0.2s ease-in-out; 

  }
  
  .cover p {
    margin: 0;
    margin-bottom: 20px;
  }
  
  .cover img:hover {
  transform: translate(-50%, -50%) scale(1.05);  }