@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


.tab {
  border: none;
  margin: 5px;
}

.active-tab {
  background-color: #3b5fef;
  color: white;
}
.manga-catalog {
  display: grid;
  gap: 16px; 
  padding: 10px;
  align-items: center;
  justify-content: center;
}


@media (min-width: 1401px) {
  .manga-catalog {
    grid-template-columns: repeat(6, 1fr);
  }
}

@media (min-width: 1200px) and (max-width: 1400px) {
  .manga-catalog {
    grid-template-columns: repeat(5, 1fr);
  }
}

@media (min-width: 995px) and (max-width: 1199px) {
  .manga-catalog {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 768px) and (max-width: 994px) {
  .manga-catalog {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 480px) and (max-width: 767px) {
  .manga-catalog {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 479px) {
  .manga-catalog {
    grid-template-columns: 1fr;
  }
}



